<!-- <div class="principal">
  <div class="grid-container">
  <div class="top-left"><div *ngIf="destino" style="text-align: center; padding: 20px;">
  <h2>{{ destino.nombre }}</h2>
  <img [src]="destino.imagen" alt="{{ destino.nombre }}" style="width: 90%; max-width: 400px; border-radius: 12px;">
  
</div></div>
  <div class="top-right"><p style="margin: 16px 0;">{{ destino.descripcion }}</p></div>
  <div class="dow-left">
    
    
    
  </div>
  <div class="bottom"><button (click)="openDialog('10', '10')" style="padding: 10px 20px; background: green; color: white; border: none; border-radius: 6px; margin-top: 16px;">
    Contar mi experiencia
  </button></div>
</div>
</div> -->

<div style="display: grid; justify-content: center; align-items: center; flex-direction: column; height: 100%;">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar style="background-size: cover;" [style.background-image]="'url(' + destino.imagen + ')'"></div>
      <mat-card-title>{{ destino.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ 'sub tittle' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="destino.imagen" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ destino.descripcion }}
      </p>
      <div class="logo" id="map" style="height: 200px;"></div>
    </mat-card-content>
    <mat-card-actions>
      <button matButton (click)="openDialog('10', '10')">Contar Experiencia</button>
      <!-- <button matButton>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>


<!-- <div class="logo" id="map" style="height: 400px;">test</div> -->





  <!-- <p><strong>Precio del viaje:</strong> ${{ destino.precio }}</p> -->

  