.principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px; 
}


.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "dow-left bottom";
  gap: 10px; 
}

.top-left {
  grid-area: top-left;
  background-color: #f2f2f2;
}
.top-right {
  grid-area: top-right;
  background-color: #dcdcdc;
  width: 400px;  
  height: 300px;    
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dow-left {
  grid-area: dow-left;
  display: grid;
  justify-content: center;
  gap: 10px;
  
}

