<div class="login-container">
  <mat-card>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Explora nuestros destinos
      </button>
    </form>
  </mat-card>
</div>