<div class="destinos-container">
  <div class="destino-card" *ngFor="let destino of destinos">
    <img [src]="destino.imagen" [alt]="destino.nombre" class="destino-imagen" />

    <h3>{{ destino.nombre }}</h3>
    <p>{{ destino.descripcion }}</p>
    <p><strong>Precio:</strong> ${{ destino.precio | number:'1.0-0' }}</p>

    <div class="destino-botones">
      <button (click)="verDetalle(destino.id)">Ver más</button>
      <button (click)="agregarAlCarrito(destino)">Agregar al carrito</button>
    </div>
  </div>
</div>

<div class="carrito">
  <h3>🛒 Carrito de compras</h3>

  <p *ngIf="carrito.length === 0">No has agregado destinos.</p>

  <ul>
    <li *ngFor="let item of carrito">
      {{item.nombre}} - ${{item.precio | number:'1.0-0'}}
    </li>
  </ul>

  <p *ngIf="carrito.length > 0"><b>Total:</b> ${{getTotal() | number:'1.0-0'}}</p>
</div>