<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ChiquiTourS</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="mockup" *ngIf="mostrarFormulario">
    <div class="left-panel">
      <img src="logo (1).jpg" alt="Logo Chiquinquirá Tours" class="logo">
      <p>Descubre la magia de Chiquinquirá con nuestras rutas y experiencias únicas para ti y tu familia.</p>
      <button class="registro-btn" routerLink="/login"> Iniciar Sesión</button>

      <button class="registro-btn" (click)="mostrarFormulario = !mostrarFormulario">Registrarse</button>
    </div>
    <div class="right-panel">
      <img src="Chiqui tours.jpg" alt="Collage ChiquiTourS">
    </div>
  </div>
  <form [formGroup]="formularioRegistrar" *ngIf="!mostrarFormulario"  class="styled-form" (submit)="resgistrar()">
    <mat-icon (click)="mostrarFormulario = !mostrarFormulario" style="cursor: pointer;">undo</mat-icon>
    <h2>Registro</h2>
    <div class="input-group">
      <label for="nombre">Nombre completo*</label>
      <input id="nombre" type="text" placeholder="Tu nombre" formControlName="nombreCompleto" required>
    </div>
    <div class="input-group">
      <label for="email">Correo electrónico*</label>
      <input id="email" type="email" placeholder="ejemplo@correo.com" formControlName="correo" required>
    </div>
    <div class="input-group">
      <label for="password">Contraseña*</label>
      <input id="password" type="password" placeholder="Contraseña segura" formControlName="contrasena" required>
    </div>
    <div class="input-group">
      <label for="pais">País*</label>
      <select id="pais" formControlName="pais" required>
        <option value="">Selecciona tu país</option>
        <option value="co">Colombia</option>
        <option value="mx">México</option>
        <option value="es">España</option>
      </select>
    </div>
    <div class="form-buttons">
     <button type="submit" class="btn-enviar">Enviar</button>
    </div>
  </form>
</body>
</html>
